body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgb(27, 27, 27);
	letter-spacing: 1px;
}

h1, h2 {
	font-weight: normal;
}

#wrapper {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 6px 2px 5px rgba(0, 0, 0, 0.5);
	padding: 0 0 20px;
	border: 1px solid rgba(211, 211, 211, 0.877);
}

#page-top {
	background: rgb(107, 230, 114);
	padding: 10px 0;
	
}

#page-top h1,
#page-top p {
	text-align: center;
	margin: 0.5em 0;
} 

#page-top input {
	width: 90%;
	max-width: 250px;
	margin: 20px auto;
	display: block;
	padding: 8px;
	border: 1px solid rgba(221, 221, 221, 0.7);
	font-size: 1em;
	color: rgb(49, 49, 49);
}

#check {
	max-width: 280px;
	margin: 10px auto;
	text-align: center;
}

#check #hide {
	width: 15px;
	margin: 0;
	display: inline-block;
	vertical-align: center;
}

#add-item {
	display: flex;
	gap: 5px;
	width: 400px;
	margin: 0 auto;
}

#add-item input {
	width: 300px;
	margin: 20px 0 0 0;
	padding: 0.5em;
	border: 1px solid rgb(216, 216, 216);
	font-size: 1em;
	border-radius: 2px 0 0 2px;

}

#add-item button {
	width: 100px;
	margin: 20px 0 0 0;
	cursor: pointer;
	color: white;
	background: #32C77D;
	border: 1px solid #00FF6A;
	font-size: 1em;
}

#glocery-list {
	margin: 2em;
}

#glocery-list ul {
	list-style: none;
	padding: 0;
}

#glocery-list li  {
	padding: 1em;
	border-left: 3px solid rgb(202, 201, 201);
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
	
}

#glocery-list li:hover {
	border-left: 3px solid gray;
}

#glocery-list  .delete {
	display: block;
	background-color: #aa6935;
	padding: 5px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}